<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<style>
  .btn-danger {
    width: 150px;
  }
</style>
  <body>
    <div class="main">
      <div class="report-container">
        <div class="report-header">
          <h1 class="recent-Articles">All students</h1>
        </div>
        <div class="report-body">
          <div class="report-topic-heading">
            <h3 class="t-op">Name</h3>
            <h3 class="t-op">Level</h3>
            <h3 class="t-op">Select</h3>
          </div>
          <% arrCourse.forEach(item=> { %>
            <div class="item1">
              <h3 class="t-op-nextlvl">
                <%= item.name %>
              </h3>
              <h3 class="t-op-nextlvl">
                <%= item.level %>
              </h3>
              <a href="/delete-course/<%= item._id %>" class="btn btn-danger lonbtn">delete course</a>
            </div>
            <% }); %>
        </div>
      </div>
    </div>




  </body>

</html>