<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<style>
  .parent {
    display: flex;
    justify-content: center;

  }
  .lonbtn {
    margin: 10px;
    padding: 20px;
    width: 200px;
  }
</style>
<body>
  <nav>
    <ul class="parent">
      <li class="lonbtn "><a href="add-course">Add course</a></li>
      <li class="lonbtn "><a href="update-courses">Update course</a></li>
      <li class="lonbtn "><a href="delete-course">Delete course</a></li>
    </ul>
  </nav>
</body>
</html>
